body {
    background-color: #f8f9fa;
   
}

.container {
    margin-top: 50px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    font-size: 18px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
}

.card-subtitle {
    font-size: 18px;
    color: #6c757d;
}

.features {
    margin-top: 30px;
}

.feature-item {
    text-align: center;
}

.feature-icon {
    font-size: 40px;
    color: #007bff;
    margin-bottom: 10px;
}

.feature-title {
    font-size: 18px;
    font-weight: bold;
}


